.choice-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.choice-button img {
    height: 20px;
    margin-right: 5px;
}

.choice-button span {
    color: black;
}

.choice-button:hover {
    background-color: #F0F3F4;
    color: white;
}


section{
    background: url("../images/rps_land.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.div-container .div-container-items{
    border: 2px solid rgba(255, 255, 255, 0.5);
    min-width: 35vw;
    max-width: 110vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-container .div-container-items .div-result-game {
    min-width: 20vw;
    font-size: large;
    font-weight: bold;
}

.div-container .div-container-items .div-result-game{
    min-width: 20vw;
    font-size: large;
    font-weight: bold;
    
}

.div-container .div-container-items .div-choice{
    min-width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div-container .div-container-items .div-result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-container .div-container-items .div-result table{
    border: 1px solid black;
    min-width: 20vw;
}

.div-container .div-container-items .div-result .result-title{
    background-color: #4EA8F7;
    color: black;
    font-size: 100%;
}

.div-container .div-container-items .div-result thead{
    background-color: aliceblue;
    color: black;
    font-size: 100%;
}

.div-container .div-container-items .div-result tbody{
    background-color: aliceblue;
}

.div-container .div-container-items .div-result th{
    border: 1px solid black;
}

.div-container .div-container-items .div-result td{
    border: 1px solid black;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#rps-back-menu-button{
    background-color: #4EA8F7;
}

#rps-back-menu-button:hover {
    background-color: white;
    color: white;
}
